<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="SENDGRID_APIKEY" value="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"/>
  </appSettings>
</configuration>